<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradio with FastAPI and Jinja2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
    <div class="flex flex-col justify-center min-w-screen min-h-screen relative overflow-hidden scrollbar-none">
        <div class="h-[10vh] w-full max-h- min-h- flex flex-col justify-center items-center bg-[#0B0F19] text-white py-10">
            <h1 class="font-bold opacity-50 text-xl md:text-2xl font-mono">Rice Diseases Classification</h1>
        </div>
        <img src="{{ url_for('static', path='/image/169671a5daec67f08202732bd590c783.gif') }}" 
        class=" absolute opacity-[0.035] pointer-events-none grayscale w-full h-full object-cover select-none"
        >
        <iframe class="w-screen h-screen"  src="/gradio" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
